{% extends 'base.html.twig' %}

{% block title 'My First Page in Symfony' %} 

{% block stylesheets %}
<style> 
    
</style>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class=" container text-center">
            <h1>Agence immoblier</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, reiciendis. Ut fuga tempore accusantium, quidem necessitatibus voluptatem suscipit at ab alias labore tenetur obcaecati, similique odit. Dolorum accusantium laboriosam repellat.</p>
        </div>
    </div>
    
        <div class="container">
            <div class="row">   
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path ('property.show',{ id:property.id , slug: property.slug }) }}}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style='font-weight:bold; font-size:rem' >{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    
{% endblock  %}
