<div class="col-4">
    <div class="card mb-4">
        {% if property.filename %}
            <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top"  alt="display error">
        {% else %}
            <img src="{{ '/images/properties/defaultImage.jpg' | imagine_filter('thumb') }}" class="card-img-top"  alt="display error">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path ('property.show',{id: property.id , slug:property.slug }) }}"> {{ property.title }}</a>
            </h5>
            {# <p class="card-text">{{ property.description | nl2br }}</p> #}
            <p class="card-text">{{property.surface}} m² - {{ property.city }} {{ property.postalCode }}</p>
            <div class="text-primary" style="font-weight: bold; font-size: 2rem;">
                {{ property.formattedPrice }} €
            </div>
            <a  href="{{ path('property.like',{id: property.id}) }}" class="js-like float-right btn-link " >
                {# {% if app.user and property.isLikedByUser %}
                    
                {% endif %} #}
                <i class="fas fa-heart"></i>
                <span  class="js-numLikes">{{ property.likes | length }}</span> 
                <span  class="js-statLike">{% if property.isLikedByUser(app.user) %}Je n'aime pas{% else %}J'aime{% endif %}</span>
            </a>
        </div>
    </div>
</div>