{% extends 'base.html.twig' %}
{% block title 'Tous nos biens' %} 

    
{% block stylesheets %}
    <link href="{{ asset('build/index-property.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block header %}
    <div class="header container">
        {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col-md-4">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.options) }}
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark" >Rechercher</button>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block body %}
{# <div class="jumbotron">
    
</div> #}
<div class="container mt-4" id="biens">
    <div class="row">
        {% for property in properties %}
            {% include('property/_property.html.twig') %}
        {% endfor %}
    </div>
    <div class="pagination">
        {{ knp_pagination_render(properties) }}
    </div>
</div>
{% endblock  %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('index-property') }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
        function onClickBtnLike(event){
            event.preventDefault();

            const url = this.href;
            const spaceCount = this.querySelector('span.js-numLikes');
            const liketext = this.querySelector('span.js-statLike');
            axios.get(url).then( function(response){
                spaceCount.textContent = response.data.likes;
                if(response.data.message === 'like'){
                    liketext.textContent = "Je n'aime pas";
                }else{
                    liketext.textContent = "J'aime";
                }
            });
        }
        document.querySelectorAll('a.js-like').forEach( 
            function (link){
                link.addEventListener('click',onClickBtnLike);
            }
        );
    </script>
{% endblock %}  