{% extends 'base.html.twig' %}

{% block title 'Gérer les options' %} 

{% block stylesheets %}
<style> 
    
</style>
{% endblock %}

{% block body %}
    <div class=" container mt-4">
            <h1>Gérer les options</h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:50%">Nom</th>
                        <th style="width:50%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for option in options %}
                    <tr>
                        <td>{{ option.name }}</td>
                        <td>
                            <a href="{{ path ( 'admin.property.edit',{id : option.id}) }}" class="btn btn-secondary">Editer</a>
                            <form action=" {{ path('admin.property.delete',{id : option.id}) }}" method="POST" style=" display: inline-block"
                            onsubmit="return confirm('Êtes-vous sure de suprimer cette option ?')">
                                <input type="hidden" name="_method" value="DELETE" >
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id ) }}" >
                                <input type="submit" value="Supprimer" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
            </div>
        </div>
{% endblock  %}
